.topicos{
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}

.topicos_titulo{
    color: var(--branco);
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 1em;
}

.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.topicos__item{
   margin: 2em 0.7em;
}

.topicos__link{
    color: var(--branco);
    padding: 1em;
    background-color: var(--laranja);
    font-size: 16px;
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .topicos_titulo{
        font-size: 26px;
    }

    .topicos__link{
        font-size: 24px;
    }
}